.displayno {
    display: none;
}

.select2-container--default .select2-selection--single {
    height: 40px;
    border-radius: 3px 3px 3px 3px;
    background-color: #F5F7FA;
    border: none;
    box-shadow: none;
    padding: 7px 0 0 5px;
}

.select2-container--bootstrap .select2-selection--single {
    height: 40px;
    border-radius: 3px 3px 3px 3px;
    background-color: #F5F7FA;
    border: none;
    box-shadow: none;
}

.select2-container--bootstrap.select2-container--open.select2-container--below .select2-selection,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    box-shadow: 0 0 0px 1px #666;
}

.select2-container {
    min-width: 100% !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius: 3px;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    height: 40px;
    border-radius: 3px 3px 3px 3px;
    background-color: #F5F7FA;
    border: none;
    box-shadow: none;
}

/* .single-select {
    width: 100%;
} */

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    display: none;
}

.select2.select2-container.select2-container--bootstrap,
.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.select2-container--bootstrap .select2-dropdown {
    border: none;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #333;
    padding: 3px;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #F5F7FA;
    color: #333;
}

/* 多選 */

.select2-container {
    min-width: 400px;
}

.select2-results__option {
    padding-right: 20px;
    vertical-align: middle;
}

.select2-results__option.multipleClass:before {
    content: url(./image/btn_checbox_off.png);
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    margin-right: 20px;
    vertical-align: middle;
    transform: scale(.5);
    top: -4px;
}

.select2-results__option.multipleClass[aria-selected=true]:before {
    content: url(./image/btn_checbox_on.png);
    transform: scale(.5);
}

.select2-results__option.singleClass:before {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 1px;
    margin-right: 1px;
    vertical-align: middle;
}

.select2-selection__rendered {
    max-height: 93px;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.select2-container--default .select2-selection--multiple {
    border: none;
    background-color: #F5F7FA;
    min-height: 40px;
}

.select2-container--open .select2-dropdown--below button,
.select2-container--open .select2-dropdown--above button {
    padding: 0px 10px 0px 10px;
    border: none;
    font-size: 15px;
    margin: 10px 5px;
    color: #7F7F7F;
    border-left: solid 1px #eaeaea;
    background-color: #fff;
}

.select2-container--open .select2-dropdown--below button:first-child,
.select2-container--open .select2-dropdown--above button:first-child {
    color: #00AD95;
    border: none;
    background-color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #fff;
    padding: 2px 8px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    padding-left: 6px;
    border-left: solid 1px #EAEAEA;
    margin-left: 7px;
}

.select2-results__option {
    padding: 10px 0px 10px 20px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #F5F7FA;
    color: #333;
}

.select2-container--bootstrap .select2-results__option[aria-selected=true] {
    background-color: #F5F7FA;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    margin-right: 5px;
    margin-top: 4px;
    font-size: 15px;
}

.select2-results {
    border-top: solid 1px #eaeaea;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-dropdown {
    border: none;
}

.select2-dropdown {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 5px;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 245px;
}

.select2-container--default .select2-search--inline .select2-search__field {
    padding: 0px 24px 0px 12px;
}

.select2-search__field::-webkit-input-placeholder {
    color: #999;
}

/* WebKit, Blink, Edge */

.select2-search__field:-moz-placeholder {
    color: #999;
}

/* Mozilla Firefox 4 to 18 */

.select2-search__field::-moz-placeholder {
    color: #999;
}

/* Mozilla Firefox 19+ */

.select2-search__field:-ms-input-placeholder {
    color: #999;
}

/* Internet Explorer 10-11 */

.select2-search__field::-ms-input-placeholder {
    color: #999;
}

/* Microsoft Edge */